body{
	background-color: #bbc3cc;
}
.container-fluid{
    padding-top: 10px;
}
#add{
    border-radius: 0px;
    margin-bottom: 5px;
}
#reload{
    border-radius: 0px;
}
#btnSave{
    border-radius: 0px;
}
#btnClose{
    border-radius: 0px;
}